{% extends 'base.html' %}

{% block content %}

{% include 'components/banner.html' with 
    banner_image=self.banner_image 
    banner_title=self.custom_title
    modifier='__small'
%}

<div class="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="blog-title">All blog posts</h2>
            </div><!-- col -->

            {% for post in posts %}
                <div class="col-sm-6 col-lg-4 mt-5 mt-lg-4">
                    {% include 'components/card.html' with 
                        link=post.url
                        image=post.banner_image
                        alt=post.banner_image
                        title=post.custom_title
                        date=post.first_published_at
                        text=post.description
                    %}
                </div><!-- col -->
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}