{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}

{# Banner #}
{% include 'components/banner.html' with 
    banner_title=self.custom_title 
    banner_image=self.banner_image
%}

{# Content #}
{% if self.content %}
    <div class="flexibleblocks">
        {% for block in self.content %}
            <div class="flexibleblocks-block __{{ block.title }}">
                {% include_block block %}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/streams/highlights.js' %}"></script>
{% endblock %}