<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="footer-title">More Handy Links</h2>
            </div><!-- col -->
            <div class="col-lg-3">
                <h3 class="footer-title __sub">Menu one</h3>
                <ul class="footer-menu">
                    {% for i in '123' %}
                        <li class="footer-menu-item">
                            <a href="#">Link {{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- col -->
            <div class="col-lg-3">
                <h3 class="footer-title __sub">Menu two</h3>
                <ul class="footer-menu">
                    {% for i in '123' %}
                        <li class="footer-menu-item">
                            <a href="#">Link {{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>            </div><!-- col -->
            <div class="col-lg-3">
                <h3 class="footer-title __sub">Menu three</h3>
                <ul class="footer-menu">
                    {% for i in '123' %}
                        <li class="footer-menu-item">
                            <a href="#">Link {{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>            
            </div><!-- col -->
        </div>
    </div>
</footer>