/* Colors */
$color-black: #0f172a;
$color-white: #fcfcfc;
$color-clear: transparent;

$color-blue: #3b82f6;
$color-blue-mid: #426ac6;
$color-blue-dark: #304065;

/* Breakpoints */
$sm: 575px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Fonts */
$font-family: "Poppins", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
