{% load wagtailcore_tags wagtailimages_tags %}

<div class="banner">

    {% image banner_image fill-1920x600 as img %}

    <div class="banner-image">
        <img src="{{ img.url }}" alt="{{ img.title }}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="banner-content">
                    <h1 class="banner-title">{{ banner_title }}</h1>
                    <div class="banner-text">
                        {{ banner_text|richtext }}
                    </div>
                    <div class="banner-buttons">
                        {% if banner_cta %}
                            <a href="{{ banner_cta.url }}" class="banner-cta button __white">{{ banner_cta }}</a>
                        {% endif %}
                        {% if banner_link %}
                            <a href="{{ banner_link }}" class="button __tertiary" target="_blank" rel="noopener">{{ banner_link_text }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>